{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %} Add Blog Post {% endblock %}

{% block container %}
    <div class="container">
        <h1>Create a new post</h1>
        <form method="post" action="{{ url_for('posts.create') }}">
            {{ form.hidden_tag() }}

            {{ wtf.form_field(form.title) }}
            {{ wtf.form_field(form.content) }}
            <button type="submit" class="btn btn-secondary mr-5">Create Post</button>
        </form>
    </div>
{% endblock %}
